<!-- Header -->
<header id="header" class="header">
    <div class="inner">
        <!-- Logo -->
        <h1 class="logo">
            <a href="/">EJS TODO</a>
        </h1>
        <!-- Gnb -->
        <nav class="gnb">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/todo">TODO</a></li>
            </ul>
        </nav>
    </div>
</header>