<!-- Header -->
<header id="header" class="header">
    <div class="inner">
        <!-- Logo -->
        <h1 class="logo">
            <a href="/">EJS TODO</a>
        </h1>
        <!-- Gnb -->
        <nav class="gnb">
            <ul>
                <li class="<%= activeMenu === 'home' ? 'active':'' %>">
                    <a href="/">HOME</a>
                </li>
                <li class="<%= activeMenu === 'todo' ? 'active':'' %>">
                    <a href="/todo">TODO</a>
                </li>
            </ul>
        </nav>
    </div>
</header>