<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= errorNum %> Page</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    
    <!-- Header -->
    <%- include('components/header') %>

    <div class="container">
        <div class="error-page">
            <div class="inner-error">
                <span class="number"><%= errorNum %></span>
                <%= pageTitle %>
            </div>
            <a href="/">홈으로 돌아가기</a>
        </div>
    </div>

</body>
</html>