<!-- Page : Main -->
<main class="main">
    <h2 class="page-title"><%= pageTitle %></h2>

    <!-- EJS 스터디 리스트 -->
    <ul class="study-list">
        <% studyList.forEach(study => { %>
            <%- include('components/study-item', {study: study}) %>
        <% }) %>
    </ul>
</main>