<!-- Page : Todo Detail -->
<div class="detail-wrap">
    <div class="top-wrap">
        <span class="badge <%= todo.status %>"><%= todo.status %></span>
        <p class="status"><%= todo.done ? '완료' : '미완료' %></p>
    </div>
    <div class="content-wrap">
        <%= todo.text %>
    </div>
    <div class="btn-wrap">
        <a href="/todo">목록으로</a>
    </div>
</div>