/* Common */
.page-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.filter-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-wrap {
        margin-bottom: 15px;
    }
}
.button-wrap {
    display: flex;
    align-items: center;
    column-gap: 7px;

    a, button {
        height: 27px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        background-color: #777;
        padding: 0 12px;

        &.active {
            background-color: #333;
        }
    }
}
.error-page {
    margin: 20px;

    .inner-error {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        border-radius: 10px;
        background-color: #eee;

        .number {
            font-size: 35px;
            font-weight: bold;
            margin-right: 10px;
        }
    }
    a {
        display: block;
        color: #333;
        margin-top: 20px;
        text-align: center;
    }
}
.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0 10px;

    &.pending { background-color: #9CA3AF; }
    &.in-progress { background-color: #2563EB; }
    &.completed { background-color: #16A34A; }
    &.hold { background-color: #D97706; }
}