/* Common */
.container {
    padding: 0 20px;
}
.page-title {
    font-weight: bold;
    margin: 15px 0;
}
.filter-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
}
.button-wrap {
    display: flex;
    align-items: center;
    column-gap: 7px;

    a, button {
        height: 27px;
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        background-color: #777;
        padding: 0 12px;

        &.active {
            background-color: #333;
        }
    }
}
.error-page {
    margin: 20px 0;

    .inner-error {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        border-radius: 10px;
        background-color: #eee;

        .number {
            font-size: 35px;
            font-weight: bold;
            margin-right: 10px;
        }
    }
    a {
        display: block;
        color: #333;
        margin-top: 15px;
        text-align: center;
    }
}