/* Study List */
.study-list {
    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        .code-wrap {
            border-radius: 5px;
            background-color: #eee;
            padding: 15px;
            margin-top: 8px;
        }
    }
}