/* Todo List */
.todo-list {
	li {
		display: flex;
		align-items: center;
        justify-content: space-between;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        padding: 12px 15px;
		
		&:not(:last-child) {
			margin-bottom: 10px;
		}
		.status {
			font-size: 14px;
            color: #555;
		}
        &.done {
            background: #e0f8ff;
            
            p {
                text-decoration: line-through;
            }
        }
	}
}