/* Todo List */
.todo-list {
	li {
        &:not(:last-child) {
			margin-bottom: 15px;
		}
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            color: #333;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
            padding: 15px;
        }
		.status {
            color: #555;
		}
        &.done {
            a {
                background: #e0f8ff;
            }
            p {
                text-decoration: line-through;
            }
        }
	}
}

/* Todo Detail */
.detail-wrap {
    margin-bottom: 15px;

    .top-wrap {
        display: flex;
        align-items: center;

        .number {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            border-radius: 5px;
            background-color: #333;
        }
        .status {
            margin-left: 10px;
        }
    }
    .content-wrap {
        min-height: 100px;
        border-radius: 5px;
        background-color: #eee;
        padding: 15px;
        margin-top: 15px;
    }
    .btn-wrap {
        margin-top: 20px;
        text-align: right;

        a {
            height: 40px;
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            color: #fff;
            border-radius: 5px;
            background-color: #333;
            padding: 0 12px;
        }
    }
}