/* Todo List */
.todo-list {
	li {
        &:not(:last-child) {
			margin-bottom: 15px;
		}
        a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #eee;
            background-color: #fff;
            border-radius: 5px;
            padding: 15px;
        }
        .title {
            font-size: 14px;
            color: #333;
        }
		.status {
            display: flex;
            align-items: center;
            font-size: 14px;
            color: #555;

            .badge {
                margin-left: 5px;
            }
		}
        &.done {
            a {
                border: 1px solid #d6f6ff;
                background-color: #e0f8ff;
            }
            .title {
                text-decoration: line-through;
            }
        }
	}
}

/* Todo Detail */
.detail-wrap {
    .top-wrap {
        display: flex;
        align-items: center;
        
        .status {
            margin-left: 5px;
        }
    }
    .content-wrap {
        min-height: 100px;
        border-radius: 10px;
        background-color: #eee;
        padding: 15px;
        margin-top: 15px;
    }
    .btn-wrap {
        margin-top: 20px;
        text-align: right;

        a {
            height: 38px;
            display: inline-flex;
            align-items: center;
            font-size: 14px;
            color: #fff;
            border-radius: 5px;
            background-color: #333;
            padding: 0 12px;
        }
    }
}